extends layout

block content
  h1 Hackathon Starter
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    table.table
      thead
        tr
          th #
          th Title
          th Author
          th Solvers
      tbody
        each problem in problems
          tr
            th.row(style={width: '210px'})= problem._id
            td= problem.title
            td= problem.author.profile.name
            td= problem.solvers.length
  .row
    form.form-horizontal(method='POST', action='/problem')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label(class='col-sm-2 control-label', for='title') Title
        .col-sm-8
          input.form-control(type='text', name='title', id='title')
      .form-group
        label(class='col-sm-2 control-label', for='flag') Flag
        .col-sm-8
          input.form-control(type='text', name='flag', id='flag')
      .form-group
        .col-sm-offset-2.col-sm-8
          button.btn.btn-primary(type='submit')
            i.fa.fa-envelope
            | Send
